/* global-setings start*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.solution,
footer {
  background-color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* global-setings and*/

/* header start */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .logo {
  display: block;
  padding: 16px 0 16px 0;
}

.nav-list,
.contacts-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.contacts-list,
.nav-list {
  gap: 40px;
}

.page-header .container {
  justify-content: space-between;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.nav-list-item .current {
  color: #404bbf;
}
.nav-list-item:first-child .nav-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:first-child .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:active,
.contacts-link:focus {
  color: #404bbf;
}

.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* mobile-menu start */

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 0;
}
.burger-icon {
  fill: #2e2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 40px;
}

.mobile-address-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 40px;
}

.mobile-menu-nav a {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address a {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address {
  font-style: normal;
  margin-bottom: 40px;
}
.mobile-nav-item a:hover,
.mobile-nav-item a:active,
.mobile-nav-item a:focus,
.mobile-nav-item a:hover,
.mobile-nav-item a:active,
.mobile-nav-item a:focus {
  color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-social {
  display: flex;
  gap: 40px;
  justify-content: center;
  fill: #ffffff;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-circle-closed {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution {
  max-width: 767px;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/jpg/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-resolution: 192dpi) {
  .banner-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/jpg/people-office.jpg);
  }
}
h1 {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
}
.solution-button {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution-button:hover,
.solution-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
}
.features {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

@media (max-width: 768px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.features-border {
  display: none;
}
.features-border svg {
  display: block;
}
.features-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  padding: 96px 0px;
}
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list-item {
  display: block;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  margin: 0 auto;
}
.team-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.workname {
  display: block;
  padding: 32px 0;
}
.team-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:focus,
.team-social-link:hover {
  background-color: #404bbf;
}
.portfolio {
  padding: 96px 0px;
}
.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list-item-style {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover {
  transform: translateY(0%);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overlay-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-list-img {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ****************************************************** */

.page-footer {
  padding: 96px 0px;
}
.container-page-footer {
  margin-bottom: 72px;
}
.container-page-footer .footer-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto 16px auto;
}

.container-page-footer .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo .logo-part-revers {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.container-page-footer {
  margin-bottom: 72px;
}
.footer-container-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.footer-container-social {
  margin-bottom: 72px;
}
.team-social-list {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-input:focus,
.subscribe-input:active {
  background-color: #2e2f42;
  border: 1px solid #4d5ae5;
}
.submit-button {
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.submit-button:hover,
.submit-button:focus,
.submit-button:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.subscribe-button {
  margin-left: 16px;
  fill: #ffffff;
}
/* ************************************************ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 16px 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;

  margin-bottom: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
}
.form-input {
  display: block;
  outline: transparent;
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}
.form-input:focus,
.form-input:active {
  border-color: #4d5ae5;
  color: #000;
}
.input-wrapper {
  position: relative;
  height: 40px;
  position: relative;
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon,
.form-input:active + .modal-icon {
  fill: #4d5ae5;
}
.text-form-input {
  margin-bottom: 16px;
}
.form-input-coment {
  height: 120px;
  padding: 8px 16px;
  display: flex;
  align-items: flex-start;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}
.form-input-coment:focus,
.form-input-coment:active {
  border-color: #4d5ae5;
  color: #000;
  outline: transparent;
}
.checkbox-container {
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}
.input-checkbox:checked + .form-label-privacy .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f4f4fd;
  margin-right: 8px;
}
.checkbox-container {
  margin-bottom: 24px;
}
.form-label-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin: auto 0;
}
.form-label-privacy a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-send-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-send-btn:hover,
.form-send-btn:focus,
.form-send-btn:active {
  background-color: #404bbf;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-navigation-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 40px;
}

.mobile-address-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 40px;
}

.mobile-menu-nav a {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address a {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address {
  font-style: normal;
  margin-bottom: 40px;
}
.mobile-navigation-items a:hover,
.mobile-navigation-items a:active,
.mobile-navigation-items a:focus,
.mobile-address-items a:hover,
.mobile-address-items a:active,
.mobile-address-items a:focus {
  color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-social {
  display: flex;
  gap: 40px;
  justify-content: center;
  fill: #ffffff;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* mobile-menu end */
/*Tablet-version start*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .nav-list {
    display: flex;
  }
  .nav-link {
    padding: 24px 0;
    display: block;
  }
  .contacts-list {
    display: block;
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo-part {
    color: #2e2f42;
  }
  .page-header .container {
    justify-content: space-between;
  }
  .nav-list-item a {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
  .nav-list-item .current {
    color: #404bbf;
  }

  .nav-list-item:first-child .nav-link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item:first-child .nav-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-list-item a:hover,
  .nav-list-item a:focus,
  .nav-list-item a:active,
  .contacts-item a:hover,
  .contacts-item a:focus,
  .contacts-item a:active {
    color: #404bbf;
  }
  .contacts-item a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
  }
  /* header end */
  /* main start */
  .solution {
    max-width: 767px;
    margin: 0 auto;
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/jpg/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h1 {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px auto;
  }
  .solution-button {
    display: block;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .solution-button:hover,
  .solution-button:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
  }

  .features {
    padding: 96px 0;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(100%);
  }

  @media (max-width: 768px) {
    .features-list-item:not(:last-child) {
      margin-bottom: 72px;
    }
  }
  @media (min-width: 768px) {
    .features-list-item:not(:last-child) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px) {
    .features-border {
      display: none;
    }
  }

  /* .features-border svg {
    display: block;
  } */
  .features-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .features-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .team {
    background-color: #f4f4fd;
    padding: 96px 0px;
  }
  .team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-list-item {
    display: block;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    margin: 0 auto;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .workname {
    display: block;
    padding: 32px 0;
  }
  .team-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
  }
  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .team-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:focus,
  .team-social-link:hover {
    background-color: #404bbf;
  }
  /* .symbol-social svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  .portfolio {
    padding: 96px 0px;
  }

  .portfolio-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .portfolio-list-item-style {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-item:hover {
    transform: translateY(0%);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
  .portfolio-list-item:hover .overlay-text {
    transform: translateY(0);
  }
  .portfolio-list-img {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
  }
  .portfolio-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .page-footer {
    padding: 96px 0px;
  }
  .content-page-footer {
    margin-bottom: 72px;
  }
  .content-page-footer .footer-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto 16px auto;
  }

  .container-page-footer .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-logo .logo-part-revers {
    color: #f4f4fd;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
  .container-page-footer {
    margin-bottom: 72px;
  }
  .footer-container-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-container-social {
    margin-bottom: 72px;
  }
  .team-social-list {
    margin: 0 auto;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover,
  .footer-link:focus {
    background-color: #31d0aa;
  }
  .subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
  }
  .subscribe-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }
  .subscribe-input:focus,
  .subscribe-input:active {
    background-color: #2e2f42;
    border: 1px solid #4d5ae5;
  }
  .submit-button {
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .submit-button:hover,
  .submit-button:focus,
  .submit-button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
  }
  .subscribe-button {
    margin-left: 16px;
    fill: #ffffff;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fcfcfc;
    padding: 72px 16px 16px 16px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-circle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    margin-bottom: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-circle:hover,
  .button-circle:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }
  .button-circle-closed {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
  }
  .form-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  .form-field {
    margin-bottom: 8px;
  }
  .form-input {
    display: block;
    outline: transparent;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
  }
  .form-input:focus,
  .form-input:active {
    border-color: #4d5ae5;
    color: #000;
  }
  .input-wrapper {
    position: relative;
    height: 40px;
    position: relative;
    margin-bottom: 8px;
  }
  .form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:focus + .form-icon,
  .form-input:active + .form-icon {
    fill: #4d5ae5;
  }
  .form-content {
    margin-bottom: 16px;
  }
  .form-input-coment {
    height: 120px;
    padding: 8px 16px;
    display: flex;
    align-items: flex-start;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input-coment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
  .form-input-coment:focus,
  .form-input-coment:active {
    border-color: #4d5ae5;
    color: #000;
    outline: transparent;
  }
  .checkbox-container {
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
  }
  .input-checkbox:checked + .user-privacy .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
  .checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #f4f4fd;
    margin-right: 8px;
  }
  .checkbox-container {
    margin-bottom: 24px;
  }
  .user-privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin: auto 0;
  }
  .user-privacy a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  .form-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-button:hover,
  .form-button:focus,
  .form-button:active {
    background-color: #404bbf;
  }

  .solution {
    max-width: 1439px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/jpg/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpg);
    }
  }
  h1 {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto 36px auto;
  }
  .solution-button {
    display: block;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .solution-button:hover,
  .solution-button:focus,
  .solution-button:active {
    background-color: #404bbf;
    transition-duration: 250ms;
  }
  .features {
    padding: 96px 0px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }

  .team {
    background-color: #f4f4fd;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-list-item {
    display: block;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    margin: 0 auto;
    height: 428px;
    margin: 0;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-list-item-img {
    width: 356px;
    height: 300px;
  }
  .portfolio-list-img {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
  }
  .portfolio-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .page-footer .container {
    padding: 0px 108px;
    display: flex;
    flex-wrap: wrap;
  }
  .container-page-footer {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .container-page-footer .logo {
    justify-content: start;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-container-social-text {
    text-align: start;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-title {
    text-align: start;
  }
  .subscribe-input {
    width: 264px;
  }
  .modal-overlay {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/*Desktop-version*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-nav {
    gap: 76px;
  }
  .contacts-list {
    display: flex;
    gap: 12px;
  }
  .header-nav .container {
    justify-content: space-between;
    align-items: center;
  }
  .contacts-item:not(:last-child) {
    margin: 0;
  }
  .contacts-item a {
    font-size: 12px;
    line-height: 150%;
  }
  .solution {
    max-width: 1440px;
    background-size: contain;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/jpg/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1 {
    margin: 0 auto 48px auto;
  }

  .features {
    padding: 120px 0;
  }
  .features-list {
    display: flex;
    column-gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 72px) / 4);
    margin: 0;
  }
  .features-border {
    height: 112px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
  }
  .features-border svg {
    display: block;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .team-list {
    column-gap: 24px;
  }

  /* .portfolio {
    padding: 120px 0;
  }  */
  /* .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  } */

  /* @media screen and (min-width: 768px) {
  .portfolio-item {
    max-width: 256px;
    max-height: 300px;
    flex-basis: calc((100% - 24px) / 2);
  }
} */

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-list-item-img {
    width: 356px;
    height: 300px;
  }
  .portfolio-list-img {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
  }
  .portfolio-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .page-footer {
    padding: 100px 0;
  }
  .page-footer .container {
    display: flex;
    padding: 0 15px;
  }
  .footer-content {
    margin: 0 120px 0 0;
  }
  .social-icons-main {
    margin: 0 80px 0 0;
  }
}

@media screen and (max-width: 1158px) {
  .features-icons {
    display: none;
  }
}
/* @media screen and (max-width: 1158px) {
  width: calc(50% - 12px); /* якщо gap: 24px */

@media (min-width: 768px) {
  .features-border {
    width: calc(100% - 12px) / 2; /* якщо gap: 24px */
    /* calc((100% - 24px) / 2); */
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: space-between;
}
@media (min-resolution: 192dpi) {
  .banner-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/jpg/people-office.jpg);
  }
}
